$color-primary: #00ADF1;
$color-white: #fff;
$color-black: #000;
$color-primary-dark: rgba(0, 173, 241, 0.816);

$color-text-content: #454545;
$color-text-grey-1:#6F6F6F;
$color-text-light-1: #999999;
$color-text-white: #fff;

$color-dark-primary: #000;

$font-primary:'Poppins', sans-serif; 
$font-header-top: 'Poppins', sans-serif;